<div> Note :</div>
<div>
<Textarea @value={{model.content}} @autofocus="true" @cols="80" @rows="6" maxlength="{{model.MAX}}"/>

<br/>

<button {{action "save" model}} class="btn btn-primary"> Enregistrer </button>

<button {{action "clear" model}} class="btn btn-primary">Effacer</button>

<br/>

<div class={{model.style}}> nombre de caractères restants : {{model.size}} </div>

{{#if model.alertVisible }}
<div class="alert alert-primary transition: opacity 3s ease-in-out;"> {{model.info}}</div>
{{/if}}
</div>
{{outlet}}
